@charset "utf-8";
@font-face {
  font-family:"cute";
  src: url("../fonts/cute.otf");}
@font-face {
  font-family:"art";
  src: url("../fonts/art.ttf");}
@font-face {
  font-family:"meow";
  src: url("../fonts/meow.ttf");}
@font-face {
  font-family:"title";
  src: url("../fonts/title.ttf");}
@font-face {
  font-family:"handwrite";
  src: url("../fonts/handwrite.ttf");}
@font-face {
  font-family:"chalk";
  src: url("../fonts/chalk.ttf");}
<!--structure-->
<!--
.mysteriousdiv{float:left}
.frame{height:120pt}
.navi{line-height:180%;border-left:5px solid #eee;color:#223;font-size:3em;font-family:cute}
-->